</main>
<footer>
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <p>&copy; <%= new Date().getFullYear() %> - Application de Gestion de Réunions</p>
</footer>
<script src="/js/main.js"></script>
</body>
</html>
