<%- include('../partials/header') %>

<div class ="index">
    <h1>Bienvenue sur l'App de Réunion</h1>
    <p>Créez et gérez vos réunions facilement.</p>
    <a href="/meetings/new" class="btn">Créer une réunion</a>
    <a href="/meetings" class="btn">Voir les réunions</a>
</div>

<%- include('../partials/footer') %>