<%- include('../partials/header') %>

<div class="index">
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <h1>Bienvenue sur l'App de Réunion</h1>
    <p>Créez et gérez vos réunions facilement.</p>
    <a href="/new_meeting" class="btn">Créer une réunion</a>
    <a href="/meetings" class="btn">Voir les réunions</a>
</div>

<%- include('../partials/footer') %>